.button-logout{
    position: absolute;
    top: 10px;
    right: 20px;
    padding: 10px 5px;
    border: 0;
    background-color: brown;
    color: white;
    font-size: 18px;
    box-shadow: 1px 1px 1px 1px #333;
    cursor: pointer;
}